<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% block body %}
    <h1> Main Page</h1>
    {% block username %}
        {% if user.is_authenticated %}
            <h2> Hi {{ user.username }}</h2>
            <form method="POST" action={{ url_for('logout') }}>
               <input type="submit" value="Logout">
            </form>
        {% else %}

            {% block Login %}
                <h2>Login</h2>
                <form method="POST">
                    {{ form.csrf_token }}
                    {{ form.username.label }} {{ form.username(size=20) }}
                    {{ form.password.label }} {{ form.password(size=20) }}
                    {{ form.submit1}}
                    {% if form.errors and form.submit1.data %}
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                    {% if incorrect!='' %}
                        <p style='color:red;'>
                            {{ incorrect }}
                        </p>
                    {% endif %}


                </form>
            {% endblock %}


            {% block SignUp %}
                <h2>Sign Up</h2>
                <form method="POST">
                    {{ signform.csrf_token }}
                    {{ signform.usernameS.label }} {{ signform.usernameS(size=20) }}
                    {{ signform.passwordS.label }} {{ signform.passwordS(size=20) }}
                    {{ signform.submit2}}
                    {% if signform.errors and signform.submit2.data %}
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class=flashes>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    {% endif %}

                </form>
            {% endblock %}
        {% endif %}
    {% endblock %}


        <form>
            <div id="heading" >
                <br><br><br><br>
                <b>Find answers to all legal queries!!</b>
            </div>
	        <br><br><br><br><br>
            <input type="text" name="message" id='user_input' value="">
        </form>
        <br>
        <div id="enter">
            <input class="button" type="submit" onclick="showInput();" value="Search"><br/>
        </div>

{% endblock %}

<br>
<h1> Recent Cases </h1>
{% for entry in feeddata.entries %}
    <ul type="disc">
        <h3><a onclick="window.location='/scc/' + strip('{{ entry.id }}')" href="#" >{{ entry.title }}</a></h3>
    </ul>

{% endfor %}

</body>
<script language="JavaScript">
    function showInput() {
        var bad=document.getElementById("user_input").value;
		window.location.href = 'http://localhost:5000/searchresults/'+ bad

    }

    function strip(myString){
        //window.alert(myString);
        return myString.replace(/\D/g,'');

    }
  </script>