<!doctype html>
<head>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablestyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modalstyle.css') }}">
     <style>
         th {width: 20px;}
         td {text-align: right;}

     </style>
</head>
<body>
<h1> Forum </h1>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <p><h1>Modify Your Comment </h1>
        <form method="POST">
            {{ modform.csrf_token }}
            {{ modform.modifytext.label}} {{modform.modifytext(class_='modaltext')}}
            {{ modform.modifyid(class_='modalid')}}
            <input type="submit" id="modify" value="Modify">
        </form>
    </p>
  </div>

</div>

{% for dat in data %}

    {% if dat.replyto==0 %}
        <table style="width:100%">
            <tr>
                <th>Username</th>
                <td>{{ dat.username }} </td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{dat.text}} </td>
            </tr>
            <tr>
                <th>Usertype</th>
                <td>{{ dat.usertype }} </td>
            </tr>
            <tr>
                {% if user.usertype==3 or user.username==dat.username %}
                    <th>Action</th>
                    <td>
                        {# button to delete user #}
                        <button id={{ dat.id }} onclick=delid(id)>Delete</button>

                        {# button to modify user #}
                        <button id=m{{ dat.id }} onclick="modalopen('{{dat.id}}','{{dat.text}}')">Modify</button>
                     </td>
                {% endif %}
            </tr>
        </table>
        {% for reply in data %}
            {% if reply.replyto==dat.id %}
                <table align='right' style="width:75%">
                    <tr>
                        <th>Username</th>
                        <td>{{ reply.username }} </td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>{{reply.text}} </td>
                    </tr>
                    <tr>
                        <th>Usertype</th>
                        <td>{{ reply.usertype }} </td>
                    </tr>
                    <tr>
                        {% if user.usertype==3 or user.username==reply.username %}
                           <th>Action</th>
                           <td>
                               {# button to delete user #}
                               <button id={{ reply.id }} onclick=delid(id)>Delete</button>

                               {# button to modify user #}
                                <button id=m{{ reply.id }} onclick="modalopen('{{reply.id}}','{{reply.text}}')">Modify</button>
                           </td>
                        {% endif %}
                    </tr>
                </table>
            {% endif %}
        {% endfor %}

        {% if user.usertype==2 or user.username==dat.username %}
           <form method="POST">
              {{ form.csrf_token }}
              <table>
                  <tr>
                      <td>{{ form.text.label }}</td>
                      <td> {{ form.text(size=20) }}</td>
                      <td>{{ form.repliesto(class_='repliesto') }}</td>
                      <td><input type="submit" id={{ dat.id }} onclick="replytofunc(id)" value="Reply"></td>
                  </tr>
              </table>
          </form>

        {% endif %}
     {% endif %}
    <br>
{% endfor %}

<br><br><br><br><br><br>
{# Comment Box #}
<form method="POST">
    {{ form.csrf_token }}
    <br>
    {{ user.username }}
    <br>
    {{ form.text.label }} {{ form.text(size=167) }}
    {{ form.repliesto(class_='repliesto') }}
    <input type="submit" id='0' onclick=replytofunc(id) value="Reply">
</form>
<br>




{# hidden field to pass delete id #}
<form method="POST">
    {{ delform.id }}
    <input id=button type="submit" hidden="true">
</form>

<br>

{# logout #}
<form method="POST" action={{ url_for('logout') }}>
    <input type="submit" value="Logout">
</form>
</body>

<script type="text/javascript">
    function delid(id)
    {
        document.getElementById('id').value = id;
        document.getElementById('button').click();
    }

    function replytofunc(replyid)
    {   //window.alert(replyid);
        //document.write(replyid);
        var i;
        var elements = document.getElementsByClassName('repliesto');

        for(i=0; i<elements.length; i++) {
            elements[i].value = replyid;
        }

    }
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
function modalopen(id, data) {
    modal.style.display = "block";
    document.getElementsByClassName("modaltext")[0].value= data;
    document.getElementsByClassName("modalid")[0].value = id;
    //window.alert(data);
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}


</script>