<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tablestyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modalstyle.css') }}">
</head>
<body>
<h1> Legal Access </h1>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <p><h1>Modify Law </h1>
        <form method="POST">
            {{ modform.csrf_token }}
            {{ modform.chapter.label}} {{modform.chapter(class_='modalmodify', size=100)}}
            <br><br><br>
            {{ modform.sec.label}} {{modform.sec(class_='modalmodify', size=100)}}
            <br><br><br>
            {{ modform.legal.label}} {{modform.legal(class_='modalmodify', size=100)}}
            <br><br><br>
            {{ modform.exp.label}} {{modform.exp(class_='modalmodify', size=100)}}
            <br><br><br>
            {{ modform.modifyid(class_='modalid')}}
            {{modform.modify}}
            {% if modform.errors and modform.modify.data %}
                {% for field, error in modform.errors.items() %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

        </form>
    </p>
  </div>

</div>

    <form method="POST">
        {{ form.csrf_token }}
        {{ form.chapno.label }} {{ form.chapno(maxsize=20) }} {{form.submitchap}}
        <br>
        {{ form.secno.label }} {{ form.secno(maxsize=20) }} {{form.submitsec}}
    </form>
    <br><br>
    {% if laws %}
        <table>
            <tr>
                <th>Chapter No</th>
                <th>Section No</th>
                <th>Legal Text</th>
                <th>Explanation</th>
                <th>Action</th>
             </tr>
            {% for law in laws %}
                <tr>
                    <td>{{ law.chapter }}</td>
                    <td>{{ law.sec }} </td>
                    <td>{{ law.legal }}</td>
                    <td>{{ law.exp }}</td>
                    <td>
                        {# button to modify law #}
                        <button id=m{{ law.id }} onclick="modalopen('{{law.id}}', '{{ law.chapter }}','{{law.sec}}','{{ law.legal }}',
                                        '{{ law.exp }}')">Modify</button>
                        <br><br><br>
                        {# button to delete law #}
                        <button id="{{ law.id }}" onclick=delid(id)>Delete</button>
                    </td>
                 </tr>
            {% endfor %}
        </table>
    {% endif %}
    <form method="POST">
        {{ delform.crsf_token }}
        {{ delform.id }}
        <input id=button type="submit" hidden="true">
    </form>


<h2> Add Law </h2>
    <form method="POST">
        <br>
        {{ addform.chapter.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ addform.chapter }}
        <br><br>
       {{ addform.sec.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ addform.sec }}
        <br><br>
        {{ addform.legal.label }} {{ addform.legal }}
        <br><br>
        {{ addform.exp.label }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ addform.exp }}
        <br><br>
        {{ addform.add }}

        {% if addform.errors and addform.add.data %}
            {% for field, error in addform.errors.items() %}
                <div class="alert alert-danger" role="alert">
                        {{ error }}
                </div>
            {% endfor %}
        {% endif %}

    </form>
</body>

<script type="text/javascript">
    function delid(id)
    {
        document.getElementById('id').value = id;
        document.getElementById('button').click();
    }

    // Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
function modalopen(id, chapter, sec,legal,exp) {
    modal.style.display = "block";
    document.getElementsByClassName("modalmodify")[0].value= chapter;
    document.getElementsByClassName("modalmodify")[1].value = sec;
    document.getElementsByClassName("modalmodify")[2].value = legal;
    document.getElementsByClassName("modalmodify")[3].value = exp;
    document.getElementsByClassName("modalid")[0].value = id;
    //window.alert(data);
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>